@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

body {
    background-image: url(./img/img_body.jpg);
    position: relative;
    background-size: cover;
}

h3 {
    font-size: 50px;
    color: #e8e6df;
}

h1 {
    text-align: center;
    padding: 20px;
}

p{
    color: #e6c51d;
    background-color: #111;
    font-size: 20px;
    padding: 10px;
    width: 600px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}

input,
textarea {
    height: 30px;
    width: 400px;
    color: #666464;
    border-radius: 12px;
    line-height: 30px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #666464;
}

input[type="number"],
input[type="date"] {
    width: 200px;
}
   
textarea{
    border: 1px solid #666464;
    height: 100px;
}

::placeholder {
    color: #666464;
    font-family:'Trebuchet MS';
    font-size: 10px;
    padding: 10px;
    line-height: 20px;
}

.required-field {
    color: #ec0505;
}

.header {
    background-image: url(./img/header.img);
    text-align: center;
    height: 200px;
    line-height: 140px;
}

.form-title {
    color: #111;
    font-size: 30px;
}

.form-container {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -60px;
    border-radius: 15px;
}

.form-body {
    text-align: justify;
    margin: auto;
    background-color: #fff;
    width: 700px;
    position: relative;
}

.box-input {
    margin: 10px 0px 10px 40px;
}

.box-input-center {
    text-align: center;
    margin: 10px 0;
}

.block1 {
    margin: 10px 0;
    display: block;
    width: 600px;
}

ul {
    list-style-type: none;
}

#box {
    width: 15px;
    height: 15px;
}

.optional-box1,
.optional-box2 {
    margin: 10px 0 10px 100px;
    display: inline-block;
}

.btn-submit {
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    background-color: #d0cec7;
    color: #111;
}
